.vts-dropdown {
  display: inline-block;
	position: relative;
}

.vts-dropdown__content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	min-width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #fff;
}
