.DS_Store
node_modules/
mysql
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/tests/unit/coverage/
/tests/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

docs/.vuepress/dist
