.vts-drawer {
	position: fixed;
  z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.vts-drawer [tabindex="-1"]:focus {
  outline: 0;
}

.vts-drawer__content {
	width: 100%;
	max-width: 300px;
	height: 100%;
	overflow: auto;
	background: #fff;
}
