*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body .live-preview pre {
  margin: initial;
  padding: initial;
  line-height: initial;
  background: initial;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.bg-white {
  background-color: #FFF;
}

.bg-black-alpha {
  background: rgba(0, 0, 0, 0.2);
}

.styled {
  font-family: sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.5s ease opacity;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: 0.5s ease opacity, 0.5s ease transform;
}

.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: 0.5s ease opacity, 0.5s ease transform;
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transform: translateY(0);
  transition: 0.5s ease opacity, 0.5s ease transform;
}

.slide-up-enter,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.vts-alert.error {
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 0 10px;
  color: #900;
  background: #FDD;
}

.vts-alert.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 10px;
  color: #009;
  background: #DFF;
}

.vts-alert.info .vts-alert__dismiss {
  border: 0;
  font: inherit;
  background: transparent;
}

.styled .vts-drawer {
  background: rgba(0, 0, 255, 0.5);
}

.styled .vts-drawer__content {
  padding: 20px;
  color: #FFF;
  background: #222;
  transition: 0.3s ease transform;
}

.styled .vts-dropdown__trigger {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  color: #FFF;
  background: #008484;
  transition: 0.5s ease border-radius;
}

.styled .vts-dropdown__trigger[aria-expanded] {
  border-radius: 5px 5px 0 0;
}

.dropdown-content {
  border: 1px solid #008484;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  background-color: #FFF;
}

.styled.vts-form input {
  width: 100%;
  margin-bottom: 1rem;
}

.styled.vts-form input,
.styled.vts-form button {
  border-radius: 4px;
  padding: 0.5rem;
}

.styled.vts-form input {
  border: 1px solid darkgray;
}

.styled.vts-form button {
  border: 0;
}

.styled.vts-form:not(.vts-form--invalid) button {
  color: #FFF;
  background: seagreen;
}

.styled .vts-file__dropzone {
  display: flex;
  justify-content: center;
  border: 3px dashed skyblue;
  border-radius: 5px;
  padding: 30px;
  background: lightblue;
  transition: 0.2s ease background-color;
}

.styled .vts-file--droppable .vts-file__dropzone {
  background: skyblue;
}

.styled .vts-file--selected .vts-file__dropzone {
  background: greenyellow;
}

.styled .vts-input {
  margin-bottom: 1rem;
}

.styled fieldset,
.styled legend {
  margin: 0;
  border: 0;
  padding: 0;
}

.styled .vts-input:not(.vts-input--radio) .vts-input__text,
.styled .vts-input__legend {
  font-size: 14px;
}

.styled .vts-input--required:not(.vts-input--radio) .vts-input__text:after,
.styled .vts-input--required .vts-input__legend:after {
  content: "*";
  speak: none;
  color: red;
}

.styled .vts-input__input {
  display: block;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 5px;
}

.styled .vts-input--error .vts-input__input {
  border-color: red;
}

.styled .vts-input__description small {
  color: red;
}

.my-dialog {
  background: rgba(0, 0, 0, 0.7);
}

.my-dialog .vts-dialog {
  background: rgba(0, 0, 0, 0.7);
}

.my-dialog .vts-dialog__content {
  position: relative;
  border-radius: 7px;
  padding: 20px;
  font-family: sans-serif;
  background: #FFF;
  transition: 0.3s ease transform;
}

.my-dialog .fade-enter .vts-dialog__content,
.my-dialog .fade-leave-active .vts-dialog__content {
  transform: translateY(20px);
}

.my-dialog__close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
  padding: 5px;
  background: transparent;
}

.intersection-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  border: 1px solid;
}

.styled.vts-tabs {
  overflow: hidden;
  border: 1px solid #CCC;
  border-radius: 0.25rem;
}

.styled.vts-tabs [role="tablist"] {
  display: flex;
}

.styled.vts-tabs [role="tab"] {
  flex-grow: 1;
  border: 0;
  padding: 0.5rem;
}

.styled.vts-tabs [role="tab"][aria-selected="true"] {
  border-bottom-color: #FFF;
  background: #FFF;
}

.styled.vts-tabs [role="tabpanel"] {
  padding: 1rem;
}

.styled .vts-toggle__button {
  display: block;
  width: 100%;
  border: 0;
  padding: 5px;
  font-size: 18px;
  text-align: left;
  color: #FFF;
  background-color: mediumseagreen;
}

.toggle-content {
  border: 1px solid #CCC;
  padding: 5px;
}

/* .vts-toggle__content {
  box-sizing: border-box;
  border: 1px solid #CCC;
  padding: 5px;
} */

.intersect-example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  border: 1px solid;
}

.cookbook fieldset,
.cookbook legend {
  margin: 0;
  border: 0;
  padding: 0;
}

.cookbook .vts-input__input[type="checkbox"],
.cookbook .vts-input__input[type="radio"] {
  display: initial;
  width: unset;
}

.cookbook .vts-input--checkbox .vts-input__text:before,
.cookbook .vts-input--radio .vts-input__text:before {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid;
}

.cookbook .vts-input--radio .vts-input__text:before {
  border-radius: 50%;
}

.cookbook input:checked ~ .vts-input__text:before {
  background-color: #008484;
}

.cookbook input:focus ~ .vts-input__text:before {
  outline-width: 1px;
  outline-style: auto;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
}


/* vuepress-plugin-live */
.preview-code .block {
  width: 100% !important;
}

/* PA11Y fixes */
#app a {
  /* #3EAF7C was 2.75 ratio */
  color: #168754;
}

#app .home .hero .action-button {
  /* #3EAF7C was 2.75 ratio */
  background-color:  #2F855F;
  color: #FFF;
}
