*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body .live-preview pre {
  margin: initial;
  padding: initial;
  line-height: initial;
  background: initial;
}

.bg-white {
  background-color: #fff;
}

.bg-black-alpha {
  background: rgba(0, 0, 0, 0.2);
}

.styled {
  font-family: sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.slide-up-enter,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.vts-alert.error {
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 0 10px;
  color: #900;
  background: #fdd;
}

.vts-alert.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 10px;
  color: #009;
  background: #dff;
}

.vts-alert.info .vts-alert__dismiss {
  border: 0;
  font: inherit;
  background: transparent;
}

.styled .vts-drawer {
  background: rgba(0, 0, 255, 0.5);
}

.styled .vts-drawer__content {
  padding: 20px;
  color: #fff;
  background: #222;
  transition: transform 0.3s;
}

.styled .vts-dropdown__trigger {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background: darkcyan;
  transition: border-radius 0.5s ease;
}

.styled .vts-dropdown__trigger[aria-expanded] {
  border-radius: 5px 5px 0 0;
}

.dropdown-content {
  border: 1px solid darkcyan;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  background-color: #fff;
}

.styled .vts-file__dropzone {
  display: flex;
  justify-content: center;
  border: 3px dashed skyblue;
  border-radius: 5px;
  padding: 30px;
  background: lightblue;
  transition: background-color 0.2s ease;
}

.styled .vts-file--droppable .vts-file__dropzone {
  background: skyblue;
}

.styled .vts-file--selected .vts-file__dropzone {
  background: greenyellow;
}

.styled .vts-input__text {
  font-size: 14px;
}

.styled .vts-input__input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

.my-dialog {
  background: rgba(0, 0, 0, 0.7);
}

.my-dialog-content {
  position: relative;
  border-radius: 7px;
  padding: 20px;
  font-family: sans-serif;
  background: #fff;
  transition: transform 0.3s;
}

.fade-enter .my-dialog-content,
.fade-leave-active .my-dialog-content {
  transform: translateY(20px);
}

.my-dialog-content button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
  padding: 5px;
  background: transparent;
}

.intersection-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  border: 1px solid;
}

.styled.vts-tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.styled.vts-tabs [role="tablist"] {
  display: flex;
}

.styled.vts-tabs [role="tab"] {
  flex-grow: 1;
  border: 0;
  padding: 0.5rem;
}

.styled.vts-tabs [role="tab"][aria-selected="true"] {
  border-bottom-color: #fff;
  background: #fff;
}

.styled.vts-tabs [role="tabpanel"] {
  padding: 1rem;
}

.styled .vts-toggle__button {
  display: block;
  width: 100%;
  border: 0;
  padding: 5px;
  font-size: 18px;
  text-align: left;
  color: #fff;
  background-color: mediumseagreen;
}

.toggle-content {
  border: 1px solid #ccc;
  padding: 5px;
}

/* .vts-toggle__content {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 5px;
} */

.intersect-example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  border: 1px solid;
}
